/*normalizadores*/
* {
  margin: 0;
  padding: 0 auto;
  text-decoration: none;
  box-sizing: border-box;
  color: #107594;
}

/*globales*/
body {
  display: flex;
  height: 600px;
  flex-direction: column;
  background: -webkit-linear-gradient(45deg, #b2cac9 0%, #1f2c1c 51%, #281c25 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #45484d 0%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#45484d", endColorstr="#000000",GradientType=1 );
  /* IE6-9 */
}

/*formulario pagina contacto*/
form {
  text-align: center;
  color: #0c0c0c;
}

/*pie de pagina*/
footer {
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to right, #080f4b, blacK);
}

article, footer {
  flex: 1;
  margin: 0;
}

/*titulos y frases*/
h1 {
  color: grey;
  text-decoration: underline;
  text-align: center;
  font-size: 1.9cm;
  font-family: Tourney;
  text-decoration: underline;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #5d5c64;
  padding: 10px;
  font-size: 11mm;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #eee5e3;
  padding: 10px;
  font-size: 1cm;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  animation-duration: 20s;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h4 {
  text-align: center;
  color: #0608a0;
  font-family: "Courier New", Courier, monospace;
}

h5 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #11140b;
  padding: 10px;
  font-size: 10mm;
}

p {
  color: #cac8c2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5mm;
}

/*titulos transicion*/
.paraTransicion:hover {
  transition: 3s;
  font-size: 4rem;
  color: #0888dd;
  padding: 1cm;
}

/*fotos centrales de cada pagina*/
.bAnner {
  display: flex;
  justify-content: center;
  padding: 1cm;
}

.cIvil {
  display: flex;
  justify-content: center;
  padding: 1cm;
}

.lAboral {
  display: flex;
  justify-content: center;
  padding: 1cm;
}

.pEnal {
  display: flex;
  justify-content: center;
  padding: 1cm;
}

.cOntacto {
  display: flex;
  justify-content: center;
  padding: 1cm;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*texto que cambia index*/
.wrapp {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  text-align: center;
}

.wrapp .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

.wrapp .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  animation: typing 1s steps(2) infinite;
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
/*asesoramiento y abonos*/
#main {
  display: flex;
  flex-wrap: wrap;
  padding: 1cm;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: dotted 7px #e4e7de;
  -moz-border-radius-topleft: 61px;
  -moz-border-radius-topright: 61px;
  -moz-border-radius-bottomleft: 52px;
  -moz-border-radius-bottomright: 56px;
  -webkit-border-top-left-radius: 61px;
  -webkit-border-top-right-radius: 61px;
  -webkit-border-bottom-left-radius: 52px;
  -webkit-border-bottom-right-radius: 56px;
  border-top-left-radius: 61px;
  border-top-right-radius: 61px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 56px;
  background-image: linear-gradient(to right, blacK, #080f4b);
  margin: 3mm;
}

.aBonos {
  color: #06bebe;
  text-align: center;
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 8mm;
  padding: 1mm;
}

.formatoItalica {
  color: #e4ecec;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 7mm;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.eSpecialistas {
  padding: 1cm;
}

/*Grilla contacto*/
.grid-eLcontacto {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 230px);
  gap: 0px 0px;
  text-align: center;
  justify-content: stretch;
  font-size: 1.5rem;
  grid-template-areas: "bannerUno bannerUno bannerUno " "tWiter gRam eLlinke";
}

.bannerUno {
  grid-area: bannerUno;
  background-image: linear-gradient(to right, #129140, #263a46);
  padding: 25mm;
  font-family: Tourney;
  font-size: 4cm;
  color: #09204b;
}

.tWiter {
  grid-area: tWiter;
}

.tWiter img {
  height: 150px;
  width: 150px;
  margin: 7mm 1mm 1mm 5mm;
  border: solid;
  border-color: #056c9c;
  margin: 0;
}

.gRam {
  grid-area: gRam;
}

.gRam img {
  height: 150px;
  width: 150px;
  margin: 7mm 1mm 1mm 5mm;
  border: solid;
  border-color: #056c9c;
  margin: 0;
}

.eLlinke {
  grid-area: eLlinke;
}

.eLlinke img {
  height: 150px;
  width: 150px;
  margin: 7mm 1mm 1mm 0mm;
  border: solid;
  border-color: #056c9c;
  margin: 0;
}

/*Grilla lOsabonos*/
.grid-lAscuotas {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 230px);
  gap: 0px 0px;
  text-align: center;
  justify-content: stretch;
  font-size: 1.5rem;
  grid-template-areas: "gRantitulo gRantitulo gRantitulo" "mInimos cAlculadora mEnsuales";
}

.gRantitulo {
  grid-area: gRantitulo;
  background-image: linear-gradient(to right, #1c1c20, #463826);
  padding: 20mm;
  font-family: Tourney;
  font-size: 5cm;
  color: #1b27d6;
}

.mInimos {
  grid-area: mInimos;
  background-image: linear-gradient(to right, #1c1c20, #463826);
  padding: 10mm;
}

.cAlculadora {
  grid-area: cAlculadora;
  background-color: #1a191f;
}

.cAlculadora img {
  height: 150px;
  width: 250px;
  margin: 7mm 1mm 1mm 5mm;
  border-radius: 2ch;
  border: solid;
  border-color: #0c6672;
}

.mEnsuales {
  grid-area: mEnsuales;
  background-image: linear-gradient(to right, #1c1c20, #463826);
  padding: 10mm;
}

/*Grilla accidente*/
.grid-cHoque {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 190px);
  gap: 0px 0px;
  text-align: center;
  justify-content: stretch;
  font-size: 1.5rem;
  grid-template-areas: "bannerUno bannerUno bannerUno " "sUfrio cHocada sIniestro";
}

.bannerUno {
  grid-area: bannerUno;
  background-image: linear-gradient(to right, #050444, #282338);
  padding: 15mm;
  font-family: Tourney;
  font-size: 5cm;
  color: #1b9bd6;
}

.sUfrio {
  grid-area: sUfrio;
  background-image: linear-gradient(to right, #1c1c20, #463826);
  padding: 10mm;
}

.cHocada {
  grid-area: cHocada;
  background-color: #120744;
}

.cHocada img {
  height: 150px;
  width: 250px;
  margin: 7mm 1mm 1mm 5mm;
  border-radius: 2ch;
  border: solid;
  border-color: #087a96;
  padding: 5mm;
}

.sIniestro {
  grid-area: sIniestro;
  background-image: linear-gradient(to right, #1c1c20, #463826);
  padding: 10mm;
}

.eRror {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
  margin-top: 5cm;
}

.nOtfound {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5cm;
}

/*menu nav*/
header {
  width: 100%;
  background-image: linear-gradient(to right, #080f4b, blacK);
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  gap: 2em;
}
header nav ul li a {
  color: whitesmoke;
  font-size: 20px;
  font-weight: auto;
  padding: 4mm;
  text-transform: uppercase;
  border: solid;
  border-color: silver;
  background-color: #03033d;
  font-family: "Limelight", cursive;
}
header nav ul li a:hover {
  background-color: #107594;
  color: #210849;
  text-decoration-line: none;
  padding: 20px;
  border-style: solid;
  border-color: grey;
}

/*logo*/
.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 20%;
}
.logo img {
  display: flex;
  flex-wrap: wrap;
  height: 6cm;
  border-radius: 30%;
  border: solid;
  border-color: #e5ebea;
  transition: all;
  margin: 1cm;
}
.logo img:hover {
  height: 6cm;
  border-color: #0a7691;
  border-radius: 10%;
  border-style: dotted;
}

/*grid*/
.grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1mm;
}
.grid div {
  background-color: #0f0f0f;
  padding: 1em;
  text-align: center;
  padding: 3mm;
  border: solid;
}

.iNtegrantes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 3mm;
  padding: 1cm;
}
.iNtegrantes div {
  background-color: black;
  padding: 1em;
  color: #a7a791;
  text-align: center;
  padding: 2mm;
  border: solid;
  border-style: double;
  border-color: #e4dad7;
}

/*cuadro penal*/
.dElitos {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 3mm;
  padding: 1cm;
}
.dElitos div {
  background-color: black;
  padding: 1em;
  color: #a7a791;
  text-align: center;
  padding: 2mm;
  border: solid;
  border-style: double;
  border-color: #e4dad7;
}

/*cuadro laboral*/
.elLaboral {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 3mm;
  padding: 1cm;
}
.elLaboral div {
  background-color: black;
  padding: 1em;
  color: #d8d81f;
  text-align: center;
  padding: 2mm;
  border: solid;
  border-style: double;
  border-color: #e4dad7;
}

/*Tarjetas*/
/*honorarios */
.hOnorarios {
  background-color: #011b01;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  height: 200px;
  width: 1000px;
}

.hOnorarios__img {
  width: 300px;
  height: 150px;
  margin-right: 30px;
}

.hOnorarios__titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: gold;
}

.hOnorarios__parrafo {
  line-height: 28px;
  font-size: 10rem;
}

.hOnorarios li {
  color: #e6d2d2;
  font-size: 5mm;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*Tarjeta Civil Alimentos*/
.tAlimentos {
  background-color: #011b01;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  height: 200px;
  width: 1000px;
}

.tAlimentos_img {
  width: 200px;
  height: 150px;
  margin-right: 30px;
}

.tAlimentos__titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tAlimentos__parrafo {
  line-height: 28px;
  font-size: 10rem;
}

.tAlimentos li {
  color: #0d6863;
  font-size: 5mm;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*Tarjeta Laboral*/
.tNegro {
  background-color: #01010c;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  height: 200px;
  width: 1000px;
}

.tNegro__img {
  width: 100px;
  height: 150px;
  margin-right: 30px;
}

.tNegro__titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #bdb4b4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tNegro__parrafo {
  line-height: 28px;
  font-size: 1rem;
}

.tNegro li {
  margin-left: 2cm;
  color: #4d5253;
  font-size: 5mm;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*Tarjeta Penal*/
.vIolencia {
  background-color: #010114;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  height: 200px;
  width: 1000px;
}

.vIolencia__img {
  width: 200px;
  height: 150px;
  margin-right: 30px;
}

.vIolencia__titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #eff0e7;
  font-size: 13mm;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Violencia__parrafo {
  line-height: 28px;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vIolencia li {
  color: #12afaf;
  font-size: 5mm;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0mm;
}

.pYmes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pLanlaboral {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pLancomercial {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pLanintegral {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*boton color*/
.btn {
  margin: 0 auto;
}

.btn a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  color: #f5f5f5;
  height: 100px;
  width: 500px;
  display: block;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-image: linear-gradient(115deg, #240557, #141101, #102f96, #090f11, #4644ce);
}

.btn h3 {
  color: #e8ebe2;
  display: flex;
  justify-content: center;
  font-size: 1.5cm;
}

.btn a:hover {
  animation: rotate 0.6s linear infinite;
  text-decoration: none;
}

@keyframes rotate {
  100% {
    filter: hue-rotate(-360deg);
  }
}
/*CARDS ABONOS LABORALES*/
.wrapper {
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper .table {
  background: #130101;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(6, 129, 211, 0.1);
  margin-bottom: 10mm;
  margin-top: 5mm;
}

.table .price-section {
  display: flex;
  justify-content: center;
}

.table .price-area {
  height: 30px;
  width: 30px;
  border-radius: 90%;
  padding: 2px;
}

.price-area .inner-area {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  line-height: 117px;
  text-align: center;
  color: #fff;
  position: relative;
}

.price-area .inner-area .text {
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
}

.price-area .inner-area .price {
  font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
}

.table .package-name {
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}

.table .package-name::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}

.table .features li {
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.features li .list-name {
  font-size: 17px;
  font-weight: 400;
}

.features li .icon {
  font-size: 15px;
}

.features li .icon.check {
  color: #2d47b9;
}

.features li .icon.cross {
  color: #cd3241;
}

.table .btn {
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}

.table .btn button {
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.table .btn button:hover {
  border-radius: 5px;
}

.basic .features li::selection {
  background: #e5e8e9;
}

.basic ::selection,
.basic .price-area,
.basic .inner-area {
  background: #97c405;
}

.basic .btn button {
  border: 2px solid #4643ef;
  background: #97c405;
  color: #170b5a;
}

.basic .btn button:hover {
  background: #044c6d;
  color: #fff;
}

.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .btn button {
  background: #017070;
  border: 2px solid #4643ef;
}

.premium .btn button:hover {
  background: #020c36;
  color: #fff;
}

.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area {
  background: #04ac12;
}

.ultimate .btn button {
  border: 2px solid #4643ef;
  color: #d3dee4;
  background: #04ac12;
}

.ultimate .btn button:hover {
  background: #020c36;
  color: #fff;
}

.basic .package-name {
  background: #04065c;
}

.premium .package-name {
  background: #04065c;
}

.ultimate .package-name {
  background: #04065c;
}

.basic .package-name::before {
  content: "Inicial";
}

.premium .package-name::before {
  content: "intermedio";
  font-size: 24px;
}

.ultimate .package-name::before {
  content: "Integral";
  font-size: 24px;
}

@media (max-width: 1020px) {
  .wrapper .table {
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
@media (max-width: 698px) {
  .wrapper .table {
    width: 100%;
  }
}
::selection {
  color: #fff;
}

.table .ribbon {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}

.table .ribbon::before,
.table .ribbon::after {
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #023d81;
  border-top-color: transparent;
  border-left-color: transparent;
}

.table .ribbon::before {
  top: 0px;
  right: 15px;
}

.table .ribbon::after {
  bottom: 15px;
  left: 0px;
}

.table .ribbon span {
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #033501;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

/*responsive 1*/
@media screen and (max-width: 1024px) {
  .topnav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: grow;
    align-items: center;
    height: 600px;
  }

  header {
    width: 100%;
    padding: 2rem 0;
    background-image: linear-gradient(to right, #080f4b, blacK);
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 3em;
  }
  header nav ul li a {
    display: flex;
    align-items: center;
    color: #04579b;
    font-size: 25px;
    font-weight: auto;
    padding: 0mm;
    text-transform: uppercase;
    border: solid;
    border-color: #107594;
    background-color: #d5d6c4;
    font-family: "Limelight", cursive;
  }
  header nav ul li a:hover {
    background-color: #107594;
    color: #210849;
    text-decoration-line: none;
    padding: 10 px;
    border-style: solid;
    border-color: grey;
  }

  .logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }
  .logo img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 5cm;
    border-radius: 30%;
    border: solid;
    border-color: #e5ebea;
    transition: all;
    margin: 0 auto;
  }
  .logo img:hover {
    height: 5cm;
    border-color: #df0c0c;
    border-radius: 10%;
    border-style: dotted;
  }

  /*boton color*/
  .btn {
    margin: 0 auto;
  }

  .btn a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    color: #f5f5f5;
    height: 100px;
    width: 200px;
  }

  .btn a h3 {
    font-size: 10mm;
    margin-top: 3mm;
  }

  footer {
    background-color: #09b11f;
  }

  footer {
    background-color: #09b11f;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20mm;
  }

  .grid img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10mm;
    height: 2cm;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iNtegrantes {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .bAnner {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .cIvil {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .lAboral {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .pEnal {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .cOntacto {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .dElitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .dElitos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .dElitos img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .elLaboral {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .elLaboral div {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .elLaboral img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .grid-eLcontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .bannerUno {
    grid-area: bannerUno;
    background-image: linear-gradient(to right, #131b86, #263a46);
    padding: 25mm;
    font-family: Tourney;
    font-size: 2cm;
  }

  .tWiter {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .tWiter img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
    border: solid;
    border-color: #059c19;
    margin: 0;
  }

  .gRam {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .gRam img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
    border: solid;
    border-color: #059c19;
    margin: 0;
  }

  .eLlinke {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eLlinke img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
    border: solid;
    border-color: #059c19;
    margin: 0;
  }

  .grid-lAscuotas {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .gRantitulo {
    grid-area: bannerUno;
    background-image: linear-gradient(to right, #1d8613, #263a46);
    padding: 25mm;
    font-family: Tourney;
    font-size: 2cm;
  }

  .mInimos {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
    background-image: linear-gradient(to right, #1c1c20, #463826);
    width: 100%;
  }

  .cAlculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
    width: 100%;
  }

  .cAlculadora img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
  }

  .mEnsuales {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
    width: 100%;
  }

  .grid-cHoque {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
    width: 100%;
  }

  .bannerUno {
    grid-area: bannerUno;
    background-image: linear-gradient(to right, #1d8613, #263a46);
    padding: 5mm;
    font-family: Tourney;
    font-size: 1cm;
    width: 100%;
    height: 150px;
  }

  .bannerUno h1 {
    font-size: 50px;
  }

  .sUfrio {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
    width: 100%;
  }

  .cHocada {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
    width: 100%;
  }

  .cHocada img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
  }

  .sIniestro {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
    width: 100%;
  }

  .wrapp {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
  }

  .wrapp .static-txt {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }

  .wrapp .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }

  .dynamic-txts li {
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }

  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  .dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }

  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 1s steps(2) infinite;
  }

  @keyframes typing {
    40%, 60% {
      left: calc(100% + 30px);
    }
    100% {
      left: 0;
    }
  }
}
/*Responsive 2*/
@media screen and (max-width: 737 px) {
  .topnav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
  }

  header {
    width: 100%;
    padding: 2rem 0;
    background-image: linear-gradient(to right, #084b17, blacK);
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 3em;
  }
  header nav ul li a {
    display: flex;
    align-items: center;
    color: #107594;
    font-size: 15px;
    font-weight: auto;
    padding: 0mm;
    text-transform: uppercase;
    border: solid;
    border-color: #107594;
    background-color: #660f25;
    font-family: "Limelight", cursive;
  }
  header nav ul li a:hover {
    background-color: #107594;
    color: #210849;
    text-decoration-line: none;
    padding: 10 px;
    border-style: solid;
    border-color: grey;
  }

  .logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }
  .logo img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 3cm;
    border-radius: 30%;
    border: solid;
    border-color: #e5ebea;
    transition: all;
    margin: 0 auto;
  }
  .logo img:hover {
    height: 3cm;
    border-color: #3574c5;
    border-radius: 10%;
    border-style: dotted;
  }

  /*boton color*/
  .btn {
    margin: 0 auto;
  }

  .btn a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    color: #f5f5f5;
    height: 100px;
    width: 200px;
  }

  .btn a h3 {
    font-size: 10mm;
    margin-top: 3mm;
  }

  footer {
    background-color: #09b11f;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .grid img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
    height: 4cm;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iNtegrantes {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .bAnner {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .cIvil {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .lAboral {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .pEnal {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .cOntacto {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .dElitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .dElitos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .dElitos img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .elLaboral {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .elLaboral div {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .elLaboral img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .grid-eLcontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .bannerUno {
    grid-area: bannerUno;
    background-image: linear-gradient(to right, #131b86, #263a46);
    padding: 3mm;
    font-family: Tourney;
    font-size: 2cm;
  }

  .tWiter {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .tWiter img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
    border: solid;
    border-color: #059c19;
    margin: 0;
  }

  .gRam {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .gRam img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
    border: solid;
    border-color: #059c19;
    margin: 0;
  }

  .eLlinke {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eLlinke img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
    border: solid;
    border-color: #059c19;
    margin: 0;
  }

  .grid-lAscuotas {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .gRantitulo {
    grid-area: bannerUno;
    background-image: linear-gradient(to right, #1d8613, #263a46);
    padding: 25mm;
    font-family: Tourney;
    font-size: 2cm;
  }

  .mInimos {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
  }

  .cAlculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
  }

  .cAlculadora img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
  }

  .mEnsuales {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
  }

  .grid-cHoque {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .bannerUno {
    grid-area: bannerUno;
    background-image: linear-gradient(to right, #1d8613, #263a46);
    padding: 25mm;
    font-family: Tourney;
    font-size: 2cm;
  }

  .bannerUno {
    grid-area: bannerUno;
    background-image: linear-gradient(to right, #1d8613, #263a46);
    padding: 22mm;
    width: 100%;
    height: 150px;
  }

  .bannerUno h1 {
    font-size: 30px;
    font-family: Tourney;
  }

  .sUfrio {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
  }

  .cHocada {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
  }

  .cHocada img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
  }

  .sIniestro {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
  }

  .wrapp {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
  }

  .wrapp .static-txt {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }

  .wrapp .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }

  .dynamic-txts li {
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }

  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  .dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }

  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 1s steps(2) infinite;
  }

  @keyframes typing {
    40%, 60% {
      left: calc(100% + 30px);
    }
    100% {
      left: 0;
    }
  }
}
/*Responsive 3*/
@media screen and (max-width: 360px) {
  .topnav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 300px;
  }

  header {
    width: 110%;
    padding: 6rem 0;
    background-image: linear-gradient(to right, #184b08, blacK);
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 3em;
  }
  header nav ul li a {
    display: flex;
    align-items: center;
    color: #107594;
    font-size: 12px;
    font-weight: auto;
    padding: 1mm;
    text-transform: uppercase;
    border: solid;
    border-color: #107594;
    background-color: #ceecd2;
    font-family: "Limelight", cursive;
  }
  header nav ul li a:hover {
    background-color: #107594;
    color: #490830;
    text-decoration-line: none;
    padding: 10 px;
    border-style: solid;
    border-color: grey;
  }

  .logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 10%;
  }
  .logo img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 3cm;
    border-radius: 70%;
    border: solid;
    border-color: #e5ebea;
    transition: all;
    margin: 0 auto;
  }
  .logo img:hover {
    height: 3cm;
    border-color: #3574c5;
    border-radius: 10%;
    border-style: dotted;
  }

  /*boton color*/
  .btn {
    margin: 0 auto;
  }

  .btn a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    color: #f5f5f5;
    height: 100px;
    width: 200px;
  }

  .btn a h3 {
    font-size: 10mm;
    margin-top: 3mm;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .aBonos {
    width: 100%;
    padding: 1em;
    font-size: 5mm;
  }

  .grid img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
    height: 3cm;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iNtegrantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .iNtegrantes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .iNtegrantes img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .bAnner {
    display: flex;
    flex-direction: column;
    column-gap: 30mm;
  }

  .cIvil {
    display: flex;
    flex-direction: column;
    column-gap: 20mm;
  }

  .lAboral {
    display: flex;
    flex-direction: column;
    column-gap: 20mm;
  }

  .pEnal {
    display: flex;
    flex-direction: column;
    column-gap: 20mm;
  }

  .cOntacto {
    display: flex;
    flex-direction: column;
    column-gap: 10mm;
  }

  .dElitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .dElitos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .dElitos img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .vIolencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 10cm;
    margin: 0, auto;
  }

  .elLaboral {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .elLaboral div {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .elLaboral img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .grid-eLcontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .bannerUno {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    font-size: 10mm;
  }

  .bannerUno h1 {
    font-size: 10mm;
  }

  .tWiter {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 80mm;
  }

  .tWiter img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
    border: solid;
    border-color: #000a02;
    margin: 0;
  }

  .gRam {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
  }

  .gRam img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
    border: solid;
    border-color: #059c19;
    margin: 0;
  }

  .eLlinke {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eLlinke img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
    border: solid;
    border-color: #059c19;
    margin: 0;
  }

  .grid-lAscuotas {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .gRantitulo {
    grid-area: bannerUno;
    background-image: linear-gradient(to right, #1b0208, #263a46);
    padding: 1mm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .gRantitulo h1 {
    font-size: 10mm;
  }

  .mInimos {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 70mm;
    height: 6cm;
  }

  .cAlculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
  }

  .cAlculadora img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 100%;
  }

  .mEnsuales {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 70mm;
    height: 6cm;
  }

  .grid-cHoque {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30mm;
  }

  .bannerUno {
    grid-area: bannerUno;
    background-image: linear-gradient(to right, #1d8613, #263a46);
    padding: 15mm;
    font-family: Tourney;
    font-size: 2cm;
  }

  .bannerUno {
    grid-area: bannerUno;
    background-image: linear-gradient(to right, #1d8613, #263a46);
    padding: 22mm;
    width: 100%;
    height: 150px;
  }

  .bannerUno h1 {
    font-size: 30px;
    font-family: Tourney;
  }

  .sUfrio {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 70mm;
    height: 6cm;
  }

  .cHocada {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 5cm;
  }

  .cHocada img {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100mm;
    height: 3cm;
  }

  .sIniestro {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 70mm;
    height: 6cm;
  }

  tAlimentos {
    display: flex;
    flex-direction: column;
    flex-grow: grow;
  }

  .wrapp {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
  }

  .wrapp .static-txt {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }

  .wrapp .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }

  .dynamic-txts li {
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }

  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  .dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }

  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 1s steps(2) infinite;
  }

  @keyframes typing {
    40%, 60% {
      left: calc(100% + 30px);
    }
    100% {
      left: 0;
    }
  }
}

/*# sourceMappingURL=index.css.map */
