.eRror{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: red;
    margin-top: 5cm;
}
.nOtfound {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5cm;
}