/*normalizadores*/
* {
    margin: 0 ;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: $primary-color;
}
/*globales*/
body {
	display: flex;
	height: 600px;
	flex-direction: column;
    background:-webkit-linear-gradient(45deg, rgba(178,202,201,1) 0%,rgba(31,44,28,1) 51%,rgba(40,28,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}   
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  } 