/*Grilla contacto*/

.grid-eLcontacto {
	display: grid;
	margin: 0;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: repeat(2,230px);
	gap: 0px 0px;
	text-align: center;
	justify-content: stretch;
	font-size: 1.5rem;
	grid-template-areas:
	"bannerUno bannerUno bannerUno "
	"tWiter gRam eLlinke";
}
.bannerUno {
	grid-area: bannerUno;
	background-image: linear-gradient(to right,rgb(18, 145, 64),rgb(38, 58, 70));
	padding: 25mm;
	font-family: Tourney;
	font-size: 4cm;
	color: rgb(9, 32, 75);
}
.tWiter {
	grid-area: tWiter;
}
.tWiter img {
    height: 150px;
    width: 150px;
    margin: 7mm 1mm 1mm 5mm;
	border: solid;
	border-color: #056c9c;
	margin: 0;
}
.gRam {
	grid-area: gRam;
}
.gRam img {
    height: 150px;
    width: 150px;
    margin: 7mm 1mm 1mm 5mm;
	border: solid;
	border-color: #056c9c;
	margin: 0;
}
.eLlinke{
	grid-area: eLlinke;
}
.eLlinke img {
    height: 150px;
    width: 150px;
    margin: 7mm 1mm 1mm 0mm;
	border: solid;
	border-color: #056c9c;
	margin: 0;
}

/*Grilla lOsabonos*/
.grid-lAscuotas{
	display: grid;
	margin: 0;
	grid-template-columns: repeat(3,33%);
	grid-template-rows: repeat(2,230px);
	gap: 0px 0px;
	text-align: center;
	justify-content: stretch;
	font-size: 1.5rem;
	grid-template-areas:
	"gRantitulo gRantitulo gRantitulo"
	"mInimos cAlculadora mEnsuales";
}
.gRantitulo {
	grid-area: gRantitulo;
	background-image: linear-gradient(to right,rgb(28, 28, 32),rgb(70, 56, 38));
	padding: 20mm;
	font-family: Tourney;
	font-size: 5cm;
	color: rgb(27, 39, 214);
}
.mInimos{
	grid-area: mInimos;
	background-image: linear-gradient(to right,rgb(28, 28, 32),rgb(70, 56, 38));
	padding: 10mm;
}
.cAlculadora {
	grid-area: cAlculadora;
	background-color: #1a191f;
}
.cAlculadora img {
    height: 150px;
    width:  250px;
    margin: 7mm 1mm 1mm 5mm;
	border-radius: 2ch;
	border:solid;
	border-color: rgb(12, 102, 114);
}
.mEnsuales {
	grid-area: mEnsuales;
	background-image: linear-gradient(to right,rgb(28, 28, 32),rgb(70, 56, 38));
	padding: 10mm;
}

/*Grilla accidente*/
.grid-cHoque{
	display: grid;
	margin: 0;
	grid-template-columns: repeat(3,33%);
	grid-template-rows: repeat(2,190px);
	gap: 0px 0px;
	text-align: center;
	justify-content: stretch;
	font-size: 1.5rem;
	grid-template-areas:
	"bannerUno bannerUno bannerUno "
	"sUfrio cHocada sIniestro";
}
.bannerUno {
	grid-area: bannerUno;
	background-image: linear-gradient(to right,rgb(5, 4, 68),rgb(40, 35, 56));
	padding: 15mm;
	font-family: Tourney;
	font-size: 5cm;
	color: rgb(27, 155, 214);
}
.sUfrio{
	grid-area: sUfrio;
	background-image: linear-gradient(to right,rgb(28, 28, 32),rgb(70, 56, 38));
	padding: 10mm;
}
.cHocada {
	grid-area: cHocada;
	background-color: #120744;
}
.cHocada img {
    height: 150px;
    width:  250px;
    margin: 7mm 1mm 1mm 5mm;
	border-radius: 2ch;
	border:solid;
	border-color: rgb(8, 122, 150);
	padding: 5mm;
}
.sIniestro {
	grid-area: sIniestro;
	background-image: linear-gradient(to right,rgb(28, 28, 32),rgb(70, 56, 38));
	padding: 10mm;
}
