/*titulos y frases*/

h1 {
    color: $color-tres;
    text-decoration: underline;
    text-align: center;
    font-size: 2cm;
    font-family: Tourney;
    text-decoration: underline;
}
h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(93, 92, 100);
    padding: 10px;
    font-size: 11mm;
}
h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(238, 229, 227);
    padding: 10px;
    font-size: 1cm;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-duration: 20s;
    animation-name: aparecer;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
h4 {
    text-align: center;
    color: rgb(6, 8, 160);
    font-family: 'Courier New', Courier, monospace;
}
h5 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(17, 20, 11);
    padding: 10px;
    font-size: 10mm;
}

p {
    color:rgb(202, 200, 194);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5mm;
}


/*titulos transicion*/
.paraTransicion:hover {
    transition: 3s;
    font-size: 4rem;
    color: rgb(8, 136, 221);
    padding: 1cm;
}

/*fotos centrales de cada pagina*/

.bAnner {
    display: flex;
    justify-content: center;
    padding: 1cm;
}
.cIvil{
    display: flex;
    justify-content: center;
    padding: 1cm;
}
.lAboral{
    display: flex;
    justify-content: center;
    padding: 1cm;
}
.pEnal{
    display: flex;
    justify-content: center;
    padding: 1cm;
}
.cOntacto{
    display: flex;
    justify-content: center;
    padding: 1cm;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
/*texto que cambia index*/
.wrapp {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    text-align: center  ;
  }
  .wrapp .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  .wrapp .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 1s steps(2) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
