$primary-color:rgb(16, 117, 148);
$color-dos: rgb(187, 190, 8);
$color-tres:grey;
$color-cuatro: crimson;
$color-cinco: rgb(1, 27, 1);
$darker: rgb(10, 7, 7);
$success: rgb(17, 5, 58);
$secondary: rgb(51, 50, 50);
